@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");
@import url("./assets/css/style.css");
@import url("./assets/css/responsive.css");
@import url("./assets/css/lib/animations.min.css");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

:root{
    --main-color: #00A0E0;
    --color-one: #000;
    --color-two: #fff;
    --color-three: #aaa;
    --color-four: #ccc;
    --color-white:#6ED6FF;
    --color-white-background:#428bca;
    --color-five: #db0000;
    
    --font-color: #fff;
    --background-package: #fcfcfc;
    --font-color-second: #1d2026;
    --font-color-third: #717274;
    --color-czynne: #2eb4af;
    --transition: 0.5s all;
    
    --menu-models:#2D0D37;
    --menu-settings:#041922;
}

a {
    display: block;
    transition: 0.2s linear;
    text-decoration: none !important; 
    color: #337ab7;
}

ol, ul {
    list-style: none;
}

ol li, ul li {
    color: #7782aa;
    font-size: 15px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
